includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - ddd
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
        - database/migrations
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
    tmpDir: storage/framework/cache/phpstan
